## .NET / Visual Studio

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# NuGet
*.nupkg
*.snupkg
.nuget/
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
project.lock.json

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# VS build files
*.VisualState.xml
TestResult.xml
[Dd]ebugPublic/

# VS cache/options
.vs/
*.DotSettings.user

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Rider
.idea/
*.sln.iml

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store

# Publish output
publish/

# Misc
*.pidb
*.svclog
*.scc
*.swp
*.tmp
~$*
*~
